button {
  display: flex;
  align-items: center;
  gap: 1.4rem;

  border: none;
  border-radius: 0.6rem;
  padding: 1.4rem 2.5rem;

  text-decoration: none;

  cursor: pointer;
}

button img {
  width: 2.4rem;
  height: 2.4rem;
}

button p {
  font-size: 1.8rem;
  font-weight: 500;
  list-style: 27px;
}
