.app {
  max-width: 160rem;
  width: 100%;

  height: auto 100%;

  display: flex;
  gap: 61px;
  justify-content: center;

  margin: 4rem auto 10.9rem;
}

@media only screen and (max-width: 840px) {
  .app {
    flex-direction: column;
    justify-content: center;
    align-items: self-start;

    gap: 0px;

    padding-inline: 1rem;
  }
}
