@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.serie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  padding-top: 220px;
}

.title {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.title h1 {
  font-size: 12.8rem;
  font-weight: 700;
  line-height: 156.03px;
}

.title h1:nth-child(2) {
  -webkit-text-stroke: 2px white;

  font-family: "Roboto", sans-serif;
  font-size: 14.8rem;
  color: rgb(0, 0, 0, 0);
}

.notify {
  display: flex;
  gap: 30px;

  width: 100%;
}

.socials {
  display: flex;
  align-items: self-end;
  justify-content: center;
  gap: 4.8rem;

  width: 100%;
  height: 25rem;

  text-transform: uppercase;
}

.socials a {
  font-size: 2.4rem;
  line-height: 29.26px;
  font-weight: 500;

  text-decoration: none;
  color: #e7e7e7;
}

@media only screen and (max-width: 840px) {
  .notify {
    justify-content: center;
  }
  .title h1 {
    font-size: 12.8rem;
  }

  .title h1:nth-child(2) {
    text-align: center;
    font-size: 12.8rem;
  }
}

@media only screen and (max-width: 520px) {
  .serie-info {
    align-items: self-start;
  }

  .title h1 {
    font-size: 9rem;
  }

  .title h1:nth-child(2) {
    font-size: 9.4rem;
  }

  .notify {
    flex-direction: column;
  }

  .socials a {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 400px) {
  .title h1 {
    font-size: 8rem;
  }

  .title h1:nth-child(2) {
    text-align: center;
    font-size: 8.4rem;
  }
}
