@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "sans-serif";
}

:root {
  font-size: 62.5%;
}

body {
  height: auto 100vh;

  background: url("./assets/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;

  overflow-x: hidden;
}
